# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.css]
indent_size = 2

[*.scss]
indent_size = 2

[*.ats,*.cts,*.mts,*.ts]
indent_size = 4

[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2

[{*.cjs,*.js}]
indent_size = 4

[{*.htm,*.html,*.ng,*.sht,*.shtm,*.shtml}]
indent_size = 2
